.card-category {
  transition: all 0.3s ease-in-out;
}

.card-category:hover {
  transform: translateY(-8px); /* naik sedikit */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* efek bayangan */
  cursor: pointer;
    background-color: #fc3b3b; /* ubah latar belakang saat hover */
}

.card-category:hover .card-icon {
  color: #fff !important; /* warna ikon saat hover */
}

.card-category:hover .card-title {
  color: #fff !important; /* warna ikon saat hover */
}

